<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - DexWarehouse</title>
    <link rel="icon" th:href="@{/img/icon.png}">

    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script th:src="@{/js/login.js}" defer></script>
</head>

<body>
    <div class="main">
        <div class="image">
            <h1>Acesse sua conta<br>para aproveitar nossas ferramentas</h1>
            <img class='img' th:src="@{/img/animate.svg}" alt="img">
        </div>
        <div class="login">
            <div class="card">
                <h1>Login</h1>
                <div class="form">
                    <label for="user">Usuário</label>
                    <input id="userInput" type="text" name="user" placeholder="Usuário">
                </div>
                <div class="form">
                    <label for="password">Senha</label>
                    <input id="passwordInput" type="password" name="password" placeholder="Senha">
                </div>
                <button id="btnLogin"class="btn-login">Login</button>
                <div id="loginError" class="error-message" style="display: none;"></div>
            </div>
        </div>
    </div>
</body>

</html>